html, body, canvas{
    margin: 0;
    width: 100%;
    height: 100%;

    position: relative;

    background: #333;
}

.client {
    position: absolute;

    width: 1vmin;
    height: 1vmin;
    margin: -0.5vmin;
    border-radius: 100%;
    background: white;

}